<!-- hw/templates/hw/about.html -->
{% extends 'hw/base.html' %}
{% block content %}
       <h1>about this page</h1>
       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio soluta veritatis magni ipsa praesentium ratione perferendis suscipit doloribus tenetur minima necessitatibus in, pariatur delectus. Quaerat explicabo maiores aliquam quae earum.</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolorem reprehenderit porro deleniti! Necessitatibus eius, sint ducimus dolor optio inventore, aperiam nisi autem earum veritatis expedita quod vel tempora blanditiis.</p>
{% endblock %}