<!---File: recipe_detail.html
Author: Becky Geisberg, (rgeis26@bu.edu)
Description: detail .html file for recipes-->
{% extends 'project/base.html' %}

{% block content %}
<h1>{{ recipe.title }}</h1>

{% if recipe.image %}
  <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
{% endif %}

<p><strong>Description:</strong> {{ recipe.description|safe }}</p>

<h3>Ingredients</h3>
<ul>
  {% for ingredient in recipe.ingredient_set.all %}
    <li>{{ ingredient.quantity }} {{ ingredient.ingredient_name }}</li>
  {% empty %}
    <li>No ingredients listed.</li>
  {% endfor %}
</ul>

<p><strong>Steps:</strong></p>
<pre>{{ recipe.steps }}</pre>



<p><a href="{{ recipe.source_url }}" target="_blank">View Original Source</a></p>
<h2>Comments</h2>
<ul>
  {% for comment in comments %}
    <li>
      <div class="comment-box">
      <strong>{{ comment.profile.user.username }}</strong> rated {{ comment.rating }}/5:
      <p>{{ comment.comment }}</p>
      <small class="comment-date">{{ comment.date_posted }}</small>
      </div>
    </li>
  {% empty %}
    <li>No comments yet.</li>
  {% endfor %}
</ul>

{% if user.is_authenticated %}
  <h3>Leave a Comment</h3>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Post Comment</button>
  </form>
{% else %}
  <p><a href="{% url 'login' %}">Log in</a> to comment.</p>
{% endif %}
{% endblock %}
