<!---File: shoe_all_recipes.html
Author: Becky Geisberg, (rgeis26@bu.edu)
Description: show all.html file for recipes-->

{% extends 'project/base.html' %}

{% block content %}
  <h1>All Recipes</h1>

  <form method="GET" action="{% url 'show_all_recipes' %}">
    <input type="text" name="q" value="{{ query }}" placeholder="Search here">
    <button type="submit">Search</button>
  </form>
  <ul>
    {% for recipe in recipes %}
      <li>
        {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
        {% endif %}
        <p><strong><a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.title }}</a></strong></p> 
        <br>
        <a href="{{ recipe.source_url }}" target="_blank">View Source</a>
        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'save_recipe' recipe.pk %}">
          {% csrf_token %}
          <button type="submit">Save</button>
      </form>
      {% endif %}
      <hr>
      </li>
    {% empty %}
      <p>No recipes found.</p>
    {% endfor %}
  </ul>
{% endblock %}
