<!---File: signup_form.html
Author: Becky Geisberg, (rgeis26@bu.edu)
Description: sign up .html file for recipes-->

{% extends "project/base.html" %}

{% block content %}
<h1>Create an Account</h1>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <fieldset>
    <legend>User Info</legend>
    {{ user_creation_form.as_p }}
  </fieldset>

  <fieldset>
    <legend>Profile Info</legend>
    {{ form.as_p }}
  </fieldset>

  <button type="submit">Sign Up</button>
</form>

{% endblock %}
