<!---blog/article.html-->
{% extends 'blog/base.html' %}

{% block content %}
<h1>{{article.title}}</h1>

<!-- This displays the QuerySet of all articles -->
<!-- {{articles}} -->
 <main class="grid-container">
    <article>
        <div>
            <h2>{{article.title}}</h2>
            <h2>by {{article.author}}</h2>
            <p>
                {{article.text}}
            </p>
        </div>
        <img src="{{article.image_url}}" alt="">
        
    </article>



</main>
 {% endblock %}