<!---File: create_profile_form.html
Author: Becky Geisberg, (rgeis26@bu.edu)
Description: create profile html file for mini_fb-->
<!-- mini_fb/templates/mini_fb/create_profile_form.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}

<h2>Add a profile</h2>

<form method="POST">
    {% csrf_token %}
    <table>
        <!-- Fields from CreateProfileForm -->
        {% for field in form %}
        <tr>
            <th>{{ field.label_tag }}</th>
            <td>{{ field }}</td>
        </tr>
        {% endfor %}

        <!-- Fields from UserCreationForm -->
        {% for field in user_creation_form %}
        <tr>
            <th>{{ field.label_tag }}</th>
            <td>{{ field }}</td>
        </tr>
        {% endfor %}

        <!-- Submit button -->
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add Profile">
            </td>
        </tr>
    </table>
</form>

{% endblock %}
