<!---File: delete_status_message.html
Author: Becky Geisberg, (rgeis26@bu.edu)
 Description: delete status message for mini_fb-->

 <!-- mini_fb/templates/mini_fb/delete_status_message.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}

<h3>Are you sure you want to delete this status message?</h3>

{{status_message}}
<p>

</p>

<form method='POST'>
    {% csrf_token %}
    <input type='submit' value="Delete">
</form>
<!---cancel request -->
<form method='GET' action="{% url 'profile' status_message.profile.pk %}">
    {% csrf_token %}
    <input type='submit' value="Cancel">
</form>

{% endblock %}