<!---File: show_profile.html
Author: Becky Geisberg, (rgeis26@bu.edu)
 Description: show_profile file for mini_fb-->

 {% extends 'mini_fb/base.html' %}

 {% block content %}
 <h1>Showing all articles</h1>
 
 <!-- This displays the QuerySet of all articles -->

  <main class="grid-container">
     <article>
         <div>
             <h2>{{profile.firstName}}</h2>
             <h2>{{profile.lastName}}</h2>
             <h2>{{profile.city}}</h2>
             <h2>{{profile.email}}</h2>
         </div>
         
         <img src="{{profile.profileImageUrl}}" alt="">
         
        </article>
        <h2>Status messages</h2>

        {% for status_message in profile.get_status_messages %}
        <article>
            <div>
            <strong>by {{status_message.profile}} at {{status_message.timestamp}}</strong>
            <p>
            {{status_message.message}}
            </div>
        </article>

        {% endfor %}
 
 </main>
  {% endblock %}