<!---File: show_profile.html
Author: Becky Geisberg, (rgeis26@bu.edu)
 Description: show_profile file for mini_fb-->

 {% extends 'mini_fb/base.html' %}

 {% block content %}
 <h1>Showing all articles</h1>
 
 <!-- This displays the QuerySet of all articles -->

  <main class="grid-container">
     <article>
         <div>
             <h2>{{profile.firstName}}</h2>
             <h2>{{profile.lastName}}</h2>
             <h2>{{profile.city}}</h2>
             <h2>{{profile.email}}</h2>
         </div>
         
         <img src="{{profile.profileImageUrl}}" alt="">
         
        </article>
 
 </main>
  {% endblock %}