<!---File: show_profile.html
Author: Becky Geisberg, (rgeis26@bu.edu)
 Description: show_profile file for mini_fb-->

 {% extends 'mini_fb/base.html' %}

 {% block content %}
 <main class="profile-container">
     <section class="profile-card">
         <img src="{{profile.profileImageUrl}}" alt="Profile Image">
         <h2>{{profile.firstName}} {{profile.lastName}}</h2>
         <p><strong>City:</strong> {{profile.city}}</p>
         <p><strong>Email:</strong> {{profile.email}}</p>
     </section>
 
     <div class="status-button-wrapper">
         <a href="{% url 'create_status' profile.pk %}" class="status-button"> Add Status Message</a>
         <a href="{% url 'update_profile' profile.pk %}" class="status-button"> Update Profile</a>
     </div>
 
     <h2>Status Messages</h2>
 
     <section class="status-list">
        {% for status_message in profile.get_status_messages %}
        <div class="status-message">
             <strong>by {{status_message.profile}} at {{status_message.timestamp}}</strong>
             <p>{{status_message.message}}</p>
         

            <div class="status-image">
                {% for img in status_message.get_images %}
                <img src='{{img.image.image_file.url}}' alt='{{img.image_file.url}}'>
                {% endfor %}
            </div>
            <div class="status-actions">
                <a href="{% url 'delete_status' status_message.pk %}" class="status-button">Delete</a>
                <a href="{% url 'update_status' status_message.pk %}" class="status-button">Update</a>
            </div>  
        </div>      
         {% empty %}
         <p class="no-status">No status messages yet.</p>
         {% endfor %}
     </section>
 </main>
 {% endblock %}
 